body {
    background-color: lightgrey;
}

.small-monospace-text {
    font-size: 10px; /* Adjust the size as needed */
    font-family: monospace;
}

.text-with-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}